
RewriteEngine On
RewriteRule ^$			index.php?index=dax
RewriteRule ^dax$ 		index.php?index=dax
RewriteRule ^dowjones$  index.php?index=dj
RewriteRule ^up$   		index.php?index=up
RewriteRule ^down$   	index.php?index=down